[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
cbor2 = "*"
atproto = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
